{:paths ["."]
 :pods {org.babashka/aws {:version "0.1.2"}}
 :tasks
 {:requires ([babashka.fs :as fs]
             [task-helper :as th])

  help {:doc "Displays command line options"
        :task (do
                (th/help))}

  clean {:doc "Removes work and target folders."
         :task (let [{:keys [target-dir work-dir]} (th/parse-args)]
                 (doseq [dir [target-dir work-dir]]
                   (println "Removing directory:" dir)
                   (fs/delete-tree dir)))}

  build {:doc "Builds lambda artifact"
         :requires ([clojure.java.shell :refer [sh]])
         :task (let [{:keys [target-dir work-dir]} (th/parse-args)
                     work-dir (str work-dir "/lambda")
                     src-dir "src"
                     lambda-zipfile (th/target-file target-dir "function.zip")]
                 (doseq [dir [target-dir work-dir]]
                   (fs/create-dirs dir))

                 (doseq [f ["bb.edn" "s3_log_parser.clj"]]
                   (println "Adding file" f)
                   (fs/delete-if-exists (format "%s/%s" work-dir f))
                   (fs/copy (format "%s/%s" src-dir f) work-dir))

                 (println "Compressing lambda archive:" lambda-zipfile)
                 (let [{:keys [exit err]}
                       (sh "zip" "-r" lambda-zipfile "."
                           :dir work-dir)]
                   (when (not= 0 exit)
                     (println "Error:" err))))}

  build-pods {:doc "Builds pods layer"
              :requires ([clojure.java.shell :refer [sh]])
              :task (let [{:keys [target-dir work-dir]} (th/parse-args)
                          work-dir (str work-dir "/pods")
                          pods-dir (str (fs/home) "/.babashka/pods")
                          pods-zipfile (th/target-file target-dir "pods.zip")]
                      (doseq [dir [target-dir work-dir]]
                        (fs/create-dirs dir))

                      (doseq [pod ["org.babashka/aws/0.1.2"]
                              :let [dst (format "%s/.babashka/pods/repository/%s" work-dir pod)]]
                        (when-not (fs/exists? dst)
                          (println "Adding pod" pod)
                          (fs/copy-tree (format "%s/repository/%s" pods-dir pod) dst)))

                      (println "Compressing pods layer" pods-zipfile
                               "from dir:" work-dir)
                      (let [{:keys [exit err]}
                            (sh "zip" "-r" pods-zipfile "."
                                :dir work-dir)]
                        (when (not= 0 exit)
                          (println "Error:" err))))}

  deploy {:doc "Deploys lambda using babashka-aws."
          :depends [build]
          :requires ([pod.babashka.aws :as aws])
          :task (let [{:keys [target-dir] :as args}
                      (th/parse-args)

                      lambda-zipfile (th/target-file target-dir "function.zip")
                      zipfile (fs/read-all-bytes lambda-zipfile)]
                  (th/create-or-update-lambda (assoc args :zipfile zipfile)))}

  deploy-pods {:doc "Deploys pods layer using babashka-aws."
               :depends [build-pods]
               :requires ([pod.babashka.aws :as aws])
               :task (let [{:keys [pods-layer aws-region target-dir]} (th/parse-args)
                           pods-zipfile (th/target-file target-dir "pods.zip")
                           client (aws/client {:api :lambda
                                               :region aws-region})
                           zipfile (fs/read-all-bytes pods-zipfile)
                           _ (println "Publishing layer version for layer" pods-layer)
                           res (aws/invoke client {:op :PublishLayerVersion
                                                   :request {:LayerName pods-layer
                                                             :Content {:ZipFile zipfile}}})]
                       (if (:cognitect.anomalies/category res)
                         (prn "Error:" res)
                         (println "Published layer" (:LayerVersionArn res))))}}}
