{:paths ["."]
 :deps {net.jmglov/blambda {:local/root "../blambda"}
        #_"You use the newest SHA here:"
        #_{:git/url "https://github.com/jmglov/blambda.git"
           :git/sha "2453e15cf75c03b2b02de5ca89c76081bba40251"}}
 :pods {org.babashka/aws {:version "0.1.2"}}
 :tasks
 {:requires ([blambda.cli :as blambda]
             [babashka.fs :as fs]
             [task-helper :as th])

  blambda {:doc "Controls Blambda runtime and layers"
           :task (blambda/dispatch)}

  deploy {:doc "Deploys lambda using babashka-aws."
          :depends [build]
          :requires ([pod.babashka.aws :as aws])
          :task (let [{:keys [target-dir] :as args}
                      (th/parse-args)

                      lambda-zipfile (th/target-file target-dir "function.zip")
                      zipfile (fs/read-all-bytes lambda-zipfile)]
                  (th/create-or-update-lambda (assoc args :zipfile zipfile)))}}}
